{
	"semi": true,
	"trailingComma": "all",
	"singleQuote": true,
	"printWidth": 80,
	"tabWidth": 2,
	"arrowParens": "always",
	"jsxSingleQuote": true,
	"jsxBracketSameLine": false,
	"useTabs": true,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
